<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Nome de Usuário</ion-label>
      <ion-input type="text" placeholder="username" id="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" placeholder="example@example.com" id="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" placeholder="ex: A8WD@IX" id="senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button shape="default" (click)="adicionaUsuario()">Salvar</ion-button>
</ion-content>
